.item-list-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.item-list-item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list-item .ImageDiv {
  flex-shrink: 0; /* Prevent image from shrinking */
}

.item-list-item .item-title {
  margin-bottom: 5px;
}

.item-list-item .item-category {
  margin-bottom: 10px;
  font-style: italic;
}

.item-list-item p {
  margin: 0;
}

.item-list-item .fw-bold {
  font-weight: bold;
}

.editButton:hover {
  background-color: #1050aa;
}
